.aside_menu_bar{
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: none;
  }
.menu{
    display: none;
}
.aside_menu_bar.active{
    display: block;
}
.aside-backdrop{
    position: relative;
    z-index: 1;
    background:rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}
.aside-inner{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: 300px;
    background:rgba(0, 0, 0, 0.856);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 30px;
}
.aside_menu_bar.active .aside-inner{
      animation:.4s asideOpen;
}
.aside-inner a{
    color:white;
    display: block;
    margin-top: 20px;
}
@keyframes asideOpen{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}

@media(max-width:930px){
    .menu{
      display: block !important;
      width: 36px;
    }
    .nav_right{
        display: none;
    }
    .nav_link{
      margin-right: 0;
    }
  }