@import 'header.css';
@import 'footer.css';
@import 'dropdownmenu.css';
@import 'asidemenu.css';
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cormorant Garamond", serif;
}
a {
  text-decoration: none;
}
.nav_container {
  padding: 0 15%;
}
.container {
  padding: 0 10%;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
/**header**/
/**dropmenu**/
/**main**/
main {
  margin-top: 100px;
}
.title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 50px;
}
.zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.zone-info__heading {
  font-weight: 700;
  font-size: 1.5rem;
}
.zone-map iframe {
  height: 100% !important;
}
.zone-info__text {
  font-weight: 700;
}
.zone-info {
  width: 50%;
}
.zone-info__row {
  border-top: 1px solid #cfcfcf;
  padding: 25px;
}
.zone-info__row:last-child {
  border-bottom: 1px solid #cfcfcf;
}
.zone-info__row-wrap {
  display: flex;
  align-items: center;
}
.zone-info__val {
  margin-right: 30px;
  line-height: 1;
  white-space: nowrap;
}
.zone-info__descr {
  width: 100%;
  white-space: nowrap;
}
.zone-info-row:first-child {
  margin-bottom: 10px;
}
.zone-info-title {
  font-size: 18px;
  font-weight: 700;
  display: table-cell;
  white-space: nowrap;
}
.zone-info-dot {
  border-bottom: 1px dashed #d7d7d7;
  width: 100%;
  display: table-cell;
}
.zone-info-value {
  font-size: 18px;
  font-weight: 700;
  display: table-cell;
}
.types_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.flex_box {
  display: flex;
  align-items: center;
  width: 100%;
}
.cash, .delivery {
  margin-bottom: 50px;
}
.img_types {
  width: 35px;
  height: 35px;
}
.types_title {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.heading {
  margin-left: 30px;
  font-weight: 700;
  font-size: 1.1rem;
}
.heading span {
  font-weight: 600;
  font-size: 1rem;
  display: block;
}
/**footer**/

@media(max-width:1430px){
  .zone-map{
    width: 100%;
  }
  .zone-map iframe{
    width: 100%;
  }
  .zone-info{
    width: 100%;
  }
  .title{
    text-align: center;
  }
  .zone{
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width:1270px){
  .types_wrapper{
    align-items: flex-start;
  }
  .payment{
    width: 100%;
  }
  .orders{
    width: 100%;
    margin-left: 30px;
  }
}
@media(max-width:790px){
  .heading{
    margin-left: 10px;
  }
}
@media(max-width:738px){
  .types_wrapper{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container{
    padding: 0 8%;
  }
  .orders{
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
  }
}
@media(max-width:425px){
  .zone-info-title {
    font-size: 14px;
  }
  .zone-info-value{
    font-size: 14px;
  }
}