header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.5);
  }
  nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
  }
  .nav_left-logo {
    text-align: center;
    display: block;
    color: white;
    font-size: 32px;
    font-weight: 600;
  }
  .nav_left-logo span {
    display: block;
    font-size: 1rem;
  }
  .nav_right {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }
  .nav_link {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    margin-right: 50px;
    transition: color 0.35s ease-out;
  }
  .nav_link:hover {
    color: skyblue;
  }
  .nav_link:last-child {
    margin-right: 0;
  }
  @media(max-width:420px){
    .nav_left-logo {
      font-size: 28px;
  }
  .cart__text {
    font-size: 1rem;
  }
}